﻿@page
@model FormWeb.Pages.Roles.RoleManagementModel
@{
}
@Html.AntiForgeryToken()
@if (Model.TblRoleEdit != null)
{
    <div class="card">
        <div class="card-header">
            แก้ไขรายชื่อรายชื่อสิทธิ์
        </div>
        <div><hr></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-page-handler="RoleEdit" asp-route-editpara="@Model.TblRoleEdit.Id" method="POST" class="form-inline">
                        <input type="hidden" asp-for="TblRoleEdit.Id" />
                        <input asp-for="TblRoleEdit.Role" class="form-control mr-sm-2" type="text" placeholder="Role Edit" aria-label="Role Edit" required="" oninvalid="this.setCustomValidity('กรุณากรอก')"
                               oninput="setCustomValidity('')">
                        <input class="btn btn-warning my-2 my-sm-0" type="submit" value="แก้ไข" /> &nbsp; <a asp-page="./RoleManagement"><input class="btn btn-danger my-2 my-sm-0" value="เคลียร์" type="button" /></a>
                    </form>
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="alert alert-warning" role="alert">
                                    @TempData["Message"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            เพิ่มสิทธิ์
        </div>
        <div><hr></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-page-handler="InsertRole" method="POST" class="form-inline">
                        <input asp-for="TblRolesPost.Role" class="form-control mr-sm-2" type="text" placeholder="Insert Role" aria-label="Insert Role" required="" oninvalid="this.setCustomValidity('กรุณากรอก')"
                               oninput="setCustomValidity('')">
                        <input class="btn btn-success my-2 my-sm-0" type="submit" value="เพิ่ม" />
                    </form>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="col-sm-3">
                        <div class="alert alert-warning" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="card">
    <div class="card-header">
        จัดการสิทธิ์
    </div>
    <div><hr></div>
    <div class="card-body">
        @*<div class="flex-md-row">
            <div class="d-flex flex-column w-100 p-3">*@
        <table class="table table-hover w-100 p-3">
            <thead>
                <tr>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.TblRoles[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblRoles[0].Role)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TblRoles)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <a asp-page="./RoleManagement" asp-route-para="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*</div>
            </div>*@
    </div>
</div>