﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FormWeb.Pages.Customer.CreateModel

<div class="modal fade" id="addCustomer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addCustomerLabel">Add Customer</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-bosy">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                            <label asp-for="Tblcustomer.Code" class="control-label"></label>
                            <input asp-for="Tblcustomer.Code" class="form-control" />
                            <span asp-validation-for="Tblcustomer.Code" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label asp-for="Tblcustomer.Name" class="control-label"></label>
                        <input asp-for="Tblcustomer.Name" class="form-control" />
                        <span asp-validation-for="Tblcustomer.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tblcustomer.Lastname" class="control-label"></label>
                        <input asp-for="Tblcustomer.Lastname" class="form-control" />
                        <span asp-validation-for="Tblcustomer.Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tblcustomer.Mobile" class="control-label"></label>
                        <input asp-for="Tblcustomer.Mobile" class="form-control" />
                        <span asp-validation-for="Tblcustomer.Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tblcustomer.Job" class="control-label"></label>
                        <select class="form-control" id="ddljob"
                                asp-for="Tblcustomer.Job"
                                asp-items="@(new SelectList(Model.Tbljobs,"Jobcode","Jobname"))">
                            <option value="" selected disabled>-- กรุณาเลือก --</option>

                        </select>

                        @*<input asp-for="Tblcustomer.Job" class="form-control" />*@
                        <span asp-validation-for="Tblcustomer.Job" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tblcustomer.Sex" class="control-label"></label>
                        <input asp-for="Tblcustomer.Sex" class="form-control" />
                        <span asp-validation-for="Tblcustomer.Sex" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tblcustomer.CreateDate" class="control-label"></label>
                        <input asp-for="Tblcustomer.CreateDate" class="form-control" />
                        <span asp-validation-for="Tblcustomer.CreateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>