﻿@page
@model FormWeb.Pages.Customer.CreateModel

@{
    Layout = null;
    ViewData["Title"] = "Create";
}

<form class="row g-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<div class="form-group">
            <label asp-for="Tblcustomer.Code" class="control-label"></label>
            <input asp-for="Tblcustomer.Code" class="form-control" />
            <span asp-validation-for="Tblcustomer.Code" class="text-danger"></span>
        </div>*@
    @*<div class="row">*@
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">ชื่อ</label>
        <input asp-for="Tblcustomer.Name" type="text" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกชื่อ')"
               oninput="setCustomValidity('')" placeholder="First name">
        <span asp-validation-for="Tblcustomer.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">นามสกุล</label>
        <input asp-for="Tblcustomer.Lastname" type="text" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกนามสกุล')"
               oninput="setCustomValidity('')" placeholder="Last name">
        <span asp-validation-for="Tblcustomer.Lastname" class="text-danger"></span>
    </div>
    @*</div>*@
    @*<div class="row">*@
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">เบอร์โทรศัพท์</label>
        <input asp-for="Tblcustomer.Mobile" type="text" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกเบอร์โทรศัพท์')"
               oninput="setCustomValidity('')" placeholder="Mobile">
        <span asp-validation-for="Tblcustomer.Mobile" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Job</label>
        <select class="form-control" id="ddljob" required="" oninvalid="this.setCustomValidity('กรุณาเลือกอาชีพของท่าน')" oninput="setCustomValidity('')"
                asp-for="Tblcustomer.Job"
                asp-items="@(new SelectList(Model.Tbljobs,"Jobcode","Jobname"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>

        </select>
        <span asp-validation-for="Tblcustomer.Job" class="text-danger"></span>
    </div>
    @*</div>*@
    @*<div class="row">*@
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Gender</label>
        <select class="form-control" id="ddljob" required="" oninvalid="this.setCustomValidity('กรุณาเลือกเพศ')" oninput="setCustomValidity('')"
                asp-for="Tblcustomer.Sex">
            <option value="" selected disabled>-- กรุณาเลือก --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Tblcustomer.Sex" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Start Date</label>
        <input  asp-for="Tblcustomer.CreateDate" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณาเลือกวันที่')" type="date" 
               oninput="setCustomValidity('')" placeholder="Start Date" >
        <span asp-validation-for="Tblcustomer.CreateDate" class="text-danger"></span>
    </div>
    @*</div>*@
    <div class="col-12">
        <label for="inputEmail4" class="form-label"></label>
        <input type="submit" asp-page="Create" value="Submit" class="btn-outline-primary btn-sm btn-block" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
