﻿@page
@model FormWeb.Pages.Customer.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tblcustomer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.Job)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.Job)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tblcustomer.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tblcustomer.CreateDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tblcustomer.Code" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
