﻿@page
@model FormWeb.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        รายละเอียดลูกค้า
    </div>
    <div><hr></div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].Code)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].Code)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].Lastname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].Lastname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].Mobile)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].Mobile)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].JobName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].JobName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].Sex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].Sex)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tblcustomermap[0].CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tblcustomermap[0].CreateDate)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tblcustomermap[0].Code">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
