﻿@page
@model FormWeb.Pages.Customer.EditModel

@{
    Layout = null;
    ViewData["Title"] = "Edit";
}

<form asp-page-handler="Success" class="row g-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Customer Code</label>
        <input asp-for="Tblcustomer.Code" type="text" readonly class="form-control" placeholder="First name">
        <span asp-validation-for="Tblcustomer.Code" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name</label>
        <input asp-for="Tblcustomer.Name" type="text" class="form-control" placeholder="First name">
        <span asp-validation-for="Tblcustomer.Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Last Name</label>
        <input asp-for="Tblcustomer.Lastname" type="text" class="form-control" placeholder="Last name">
        <span asp-validation-for="Tblcustomer.Lastname" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Mobile</label>
        <input asp-for="Tblcustomer.Mobile" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="Tblcustomer.Mobile" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Job</label>
        <select class="form-control" id="ddljob"
                asp-for="Tblcustomer.Job"
                asp-items="@(new SelectList(Model.Tbljobs,"Jobcode","Jobname"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>

        </select>
        <span asp-validation-for="Tblcustomer.Job" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Gender</label>
        <select class="form-control" id="ddljob"
                asp-for="Tblcustomer.Sex">
            <option value="" selected disabled>-- กรุณาเลือก --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Tblcustomer.Sex" class="text-danger"></span>
    </div>
    @*<div class="col-md-6">
        <label for="inputEmail4" class="form-label">Start Date</label>
        <input asp-for="Tblcustomer.CreateDate" class="form-control" type="date" placeholder="Start Date">
        <span asp-validation-for="Tblcustomer.CreateDate" class="text-danger"></span>
    </div>*@
    <div btm class="col-12">
        <label for="inputEmail4" class="form-label"></label>
        <input type="submit" value="Submit" class="btn-outline-success btn-sm btn-block" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

