﻿@page
@model FormWeb.Pages.Customer.IndexModel

@{
    ViewData["Title"] = "Index";
}

@Html.AntiForgeryToken()
@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"]
    </div>
}
<div class="card">
    <div class="card-header">
        รายการลูกค้า
    </div>
    <div><hr></div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    <button type="button" onclick="showInPopup('/Customer/Create','Create New')" class="btn btn-success">เพิ่มประวัติลูกค้า</button>
                </p>
            </div>
            <div class="col-sm-6">
                <form class="form-inline">
                    <input asp-for="SearchString" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> &ensp;
                    <input class="btn btn-success my-2 my-sm-0" type="submit" value="Search" /> &nbsp; | &nbsp;
                    <a asp-page="Index" class="btn btn-warning my-2 my-sm-0" type="submit" formmethod="get">Clear</a>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover mx-auto w-auto" style="text-align-last: center;">
                <thead>
                    <tr>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Code)
                        </th>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Name) - @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Lastname)
                        </th>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Mobile)
                        </th>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Job)
                        </th>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].Sex)
                        </th>
                        <th style="color: #000000;">
                            @Html.DisplayNameFor(model => model.TBLCUSTOMERMAP[0].CreateDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TBLCUSTOMERMAP)
                    {
                        <tr>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Code">
                                    @Html.DisplayFor(modelItem => item.Code)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)  @Html.DisplayFor(modelItem => item.Lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                <button type="button" class="btn btn-md btn-success" onclick="EditData('/Customer/Edit','@item.Code','Edit Customer');">Edit</button> &ensp;
                                <a class="btn btn-md btn-danger" asp-page="./Delete" asp-route-id="@item.Code">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            @{
                var prevDisabled = !Model.TBLCUSTOMERMAP.PreviousPage ? "disabled" : "";
                var nextDisabled = !Model.TBLCUSTOMERMAP.NextPage ? "disabled" : "";
            }

            <a asp-page="/Customer/Index"
               asp-route-pageIndex="@(Model.TBLCUSTOMERMAP.PageIndex - 1)"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>
            <a name="plus" asp-page="/Customer/Index"
               asp-route-pageIndex="@(Model.TBLCUSTOMERMAP.PageIndex + 1)"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>




<!--Modal-->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-page="./Edit" asp-page-handler="Success" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Code" class="control-label"></label>
                            <input id="Code" asp-for="Tblcusmap.Code" class="form-control" readonly="readonly" />
                            <span asp-validation-for="Tblcusmap.Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Name" class="control-label"></label>
                            <input id="Name" asp-for="Tblcusmap.Name" class="form-control" />
                            <span asp-validation-for="Tblcusmap.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Lastname" class="control-label"></label>
                            <input id="Lastname" asp-for="Tblcusmap.Lastname" class="form-control" />
                            <span asp-validation-for="Tblcusmap.Lastname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Mobile" class="control-label"></label>
                            <input id="Mobile" asp-for="Tblcusmap.Mobile" class="form-control" />
                            <span asp-validation-for="Tblcusmap.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Job" class="control-label"></label>
                            <select class="form-control" id="Job"
                                    asp-for="Tblcusmap.Job"
                                    asp-items="@(new SelectList(Model.Tbljobs,"Jobcode","Jobname"))">
                                <option value="" selected disabled>-- กรุณาเลือก --</option>

                            </select>

                            <input asp-for="Tblcustomer.Job" class="form-control" />
                            <span asp-validation-for="Tblcusmap.Job" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tblcusmap.Sex" class="control-label"></label>
                            <input id="Sex" asp-for="Tblcusmap.Sex" class="form-control" />
                            <span asp-validation-for="Tblcusmap.Sex" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>


        function EditData(v) {




            $.ajax(
                {
                    url: "/Customer/Index?handler=Edit",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },

                    dataType: "json",

                    data: JSON.stringify(
                        {
                            "Code": v

                        }),


                    contentType: "application/json; charset=utf-8",

                    type: "POST",

                    success: function (response) {



                        $("#Code").val(response["code"]);

                        $("#Name").val(response["name"]);
                        $("#Lastname").val(response["lastname"]);
                        $("#Mobile").val(response["mobile"]);
                        $("#Job").val(response["job"]);
                        $("#Sex").val(response["sex"]);

                        $('#exampleModal').modal('show');
                    },

                    error: function (data) {


                    }


                })
        }



    </script>*@
