﻿@page
@model FormWeb.Pages.LoginDefault.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Tbluser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tbluser.Username" class="control-label"></label>
                <input asp-for="Tbluser.Username" class="form-control" />
                <span asp-validation-for="Tbluser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbluser.Password" class="control-label"></label>
                <input type="password" asp-for="Tbluser.Password" class="form-control" />
                <span asp-validation-for="Tbluser.Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Tbluser.Role" class="control-label"></label>
                <input asp-for="Tbluser.Role" class="form-control" />
                <span asp-validation-for="Tbluser.Role" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
