﻿@page
@model FormWeb.Pages.EmpInfo.ManageEmpModel

<div class="col-md-12" id="view-all">
    <div class="card card-plain table-plain-bg">
        <div class="card-header ">
            <h1>จัดการพนักงาน</h1>
            <p>
                <button type="button" onclick="showInPopup('/EmpInfo/CreateEmp','Create Employee')" class="btn btn-success">เพิ่มประวัติพนักงาน</button>
            </p>
            <form class="form-inline">
                <input asp-for="SearchString" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />  |
                <a asp-page="ManageEmp" class="btn btn-outline-warning my-2 my-sm-0" type="submit" formmethod="get">Clear</a>
            </form>
        </div>
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].EmpCode)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].EmpName) - @Html.DisplayNameFor(model => model.Tblempmap[0].EmpLastName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].Mobile)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].Email)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].DepartmentName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].PositionName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Tblempmap[0].CreateDate)
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tblempmap)
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.EmpCode)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.EmpName) @Html.DisplayFor(modelItem => item.EmpLastName)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.PositionName)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td scope="row">
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.Tblempmap.PreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Tblempmap.NextPage ? "disabled" : "";
            }

            <a asp-page="/EmpInfo/ManageEmp"
               asp-route-pageIndex="@(Model.Tblempmap.PageIndex - 1)"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>
            <a name="plus" asp-page="/EmpInfo/ManageEmp"
               asp-route-pageIndex="@(Model.Tblempmap.PageIndex + 1)"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>