﻿@page
@model FormWeb.Pages.EmpInfo.CreateEmpModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<form class="row g-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">ชื่อ</label>
        <input asp-for="Tblemployee.EmpName" type="text" class="form-control" placeholder="First name">
        <span asp-validation-for="Tblemployee.EmpName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">นามสกุล</label>
        <input asp-for="Tblemployee.EmpLastName" type="text" class="form-control" placeholder="Last name">
        <span asp-validation-for="Tblemployee.EmpLastName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">เบอร์โทรศัพท์</label>
        <input asp-for="Tblemployee.Mobile" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="Tblemployee.Mobile" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input asp-for="Tblemployee.Email" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="Tblemployee.Email" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">แผนก
        </label>
        <select class="form-control" id="ddljob"
                asp-for="Tblemployee.DepartmentCode"
                asp-items="@(new SelectList(Model.Tbldepartment,"DepartmentCode","DepartmentName"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>

        </select>
        <span asp-validation-for="Tblemployee.DepartmentCode" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">ตำแหน่ง</label>
        <select class="form-control" id="ddlPosition"
                asp-for="Tblemployee.Position"
                asp-items="@(new SelectList(Model.Tblposition,"PositionCode","PositionName"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>
        </select>
        <span asp-validation-for="Tblemployee.Position" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">วันที่เริ่มทำงาน</label>
        <input asp-for="Tblemployee.CreateDate" class="form-control" type="date" placeholder="วัน/เดือน/ปี">
        <span asp-validation-for="Tblemployee.CreateDate" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="inputEmail4" class="form-label"></label>
        <input type="submit" asp-page="/EmpInfo/CreateEmp" value="Submit" class="btn-outline-primary btn-sm btn-block" />
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
