﻿@page
@model FormWeb.Pages.EmpInfo.EditEmpModel

@{
    ViewData["Title"] = "EditEmp";
}

<<form class="row g-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Tblemployees.Id" />
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">รหัสพนักงาน</label>
        <input asp-for="Tblemployees.EmpCode" type="text" class="form-control" placeholder="Employee Code">
        <span asp-validation-for="Tblemployees.EmpCode" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">ชื่อ</label>
        <input asp-for="Tblemployees.EmpName" type="text" class="form-control" placeholder="First name">
        <span asp-validation-for="Tblemployees.EmpName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">นามสกุล</label>
        <input asp-for="Tblemployees.EmpLastName" type="text" class="form-control" placeholder="Last name">
        <span asp-validation-for="Tblemployees.EmpLastName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">เบอร์โทรศัพท์</label>
        <input asp-for="Tblemployees.Mobile" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="Tblemployees.Mobile" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input asp-for="Tblemployees.Email" type="text" class="form-control" placeholder="Mobile">
        <span asp-validation-for="Tblemployees.Email" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">
            แผนก
        </label>
        <select class="form-control" id="ddljob"
                asp-for="Tblemployees.DepartmentCode"
                asp-items="@(new SelectList(Model.Tbldepartment,"DepartmentCode","DepartmentName"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>

        </select>
        <span asp-validation-for="Tblemployees.DepartmentCode" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">ตำแหน่ง</label>
        <select class="form-control" id="ddlPosition"
                asp-for="Tblemployees.Position"
                asp-items="@(new SelectList(Model.Tblposition,"PositionCode","PositionName"))">
            <option value="" selected disabled>-- กรุณาเลือก --</option>
        </select>
        <span asp-validation-for="Tblemployees.Position" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">วันที่เริ่มทำงาน</label>
        <input asp-for="Tblemployees.CreateDate" class="form-control" type="date" placeholder="วัน/เดือน/ปี">
        <span asp-validation-for="Tblemployees.CreateDate" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="inputEmail4" class="form-label"></label>
        <input type="submit" asp-page="./EditEmp" value="Submit" class="btn-outline-primary btn-sm btn-block" />
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
