﻿@page
@model FormWeb.Pages.EmpInfo.EmpDetailsModel

@{
    ViewData["Title"] = "EmpDetails";
}

<div class="card">
    <div class="card-header">
        รายละเอียดพนักงาน
    </div>
    <div><hr></div>
    <div class="card-body">
        <div class="col-sm-12 d-flex justify-content-center">
            <dl class="row">
                <dd hidden>
                    @Html.DisplayNameFor(model => model.Tblemployee.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.EmpCode)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.EmpCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.EmpName) - @Html.DisplayNameFor(model => model.Tblemployee.EmpLastName)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.EmpName) @Html.DisplayFor(model => model.Tblemployee.EmpLastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.Mobile)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.Mobile)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.Email)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.Department)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.Department)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.PositioN)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.PositioN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tblemployee.CreateDate)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Tblemployee.CreateDate)
                </dd>
            </dl>

        </div>
        <div class="col-sm-4">
            <a class="btn btn-success" role="button" asp-page="./EditEmp" asp-route-para="@Model.Tblemployee.Id">Edit</a> |
            <a class="btn btn-danger" role="button" asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>

@if (Model.UserRegis != null)
{
    <div class="card">
        <div class="card-header">
            User & Password
        </div>
        <div><hr></div>
        <div class="card-body">
            <div class="col-sm-12" style="align-items:center">
                <form asp-page="/EmpInfo/EmpDetails" asp-page-handler="RegisterAndEdit" asp-route-Codepara="@Model.Tblemployee.EmpCode" asp-route-Idpara="@Model.Tblemployee.Id" method="POST" class="row g-3">
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">User</label>
                        <input asp-for="UserRegis.Username" type="text" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกชื่อ')"
                               oninput="setCustomValidity('')" placeholder="Username">
                        <span asp-validation-for="UserRegis.Username" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Password</label>
                        <input asp-for="UserRegis.Password" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกนามสกุล')"
                               oninput="setCustomValidity('')" placeholder="Password">
                        <span asp-validation-for="UserRegis.Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Confirm-Password</label>
                        <input asp-for="UserRegis.ConfirmPassword" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกเบอร์โทรศัพท์')"
                               oninput="setCustomValidity('')" placeholder="ConfirmPassword">
                    </div>
                    <div class="col-sm-12">
                        <div class="text-center">
                            <input class="btn btn-warning my-2 my-sm-0" type="submit" value="Change Password" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            User & Password
        </div>
        <div><hr></div>
        <div class="card-body">
            <div class="col-sm-12" style="align-items:center">
                <form asp-page="/EmpInfo/EmpDetails" asp-page-handler="RegisterAndEdit" asp-route-Codepara="@Model.Tblemployee.EmpCode" asp-route-Idpara="@Model.Tblemployee.Id" method="POST" class="row g-3">
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">User</label>
                        <input asp-for="UserRegis.Username" type="text" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกชื่อ')"
                               oninput="setCustomValidity('')" placeholder="Username">
                        <span asp-validation-for="UserRegis.Username" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Password</label>
                        <input asp-for="UserRegis.Password" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกนามสกุล')"
                               oninput="setCustomValidity('')" placeholder="Password">
                        <span asp-validation-for="UserRegis.Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Confirm-Password</label>
                        <input asp-for="UserRegis.ConfirmPassword" required="" class="form-control" oninvalid="this.setCustomValidity('กรุณากรอกเบอร์โทรศัพท์')"
                               oninput="setCustomValidity('')" placeholder="ConfirmPassword">
                    </div>
                    <div class="col-sm-12">
                        <div class="text-center">
                            <input class="btn btn-success my-2 my-sm-0" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@Html.AntiForgeryToken()
<div class="card">
    <div class="card-header">
        จัดการสิทธิ์พนักงาน
    </div>
    <div><hr></div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <form asp-page="/EmpInfo/EmpDetails" asp-page-handler="AddRole" asp-route-para="@Model.Tblemployee.EmpCode" asp-route-Idpara="@Model.Tblemployee.Id" method="POST" class="row g-3">
                    <select class="form-control" asp-for="EmpRole.RoleId" id="Select1"
                            asp-items="@(new SelectList(Model.TblRoleselect,"Id","Role"))">
                        <option></option>

                        <option value="" selected disabled>-- กรุณาเลือก --</option>

                    </select>
                    <div class="col-sm-2">
                        <input class="btn btn-success my-2 my-sm-0" type="submit" value="Sumbit" />
                    </div>
                </form>
            </div>
            @if (Model.getEmpRole != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover mx-auto w-auto" style="text-align-last: center;">
                        <thead>
                            <tr>
                                <th hidden style="color: #000000;">
                                    @Html.DisplayNameFor(model => model.getEmpRole[0].Id)
                                </th>
                                <th style="color: #000000;">
                                    @Html.DisplayNameFor(model => model.getEmpRole[0].RoleName)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.getEmpRole)
                            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
